{% extends 'base.html' %}

{% block content%}
    <main class="main wrapper-flex">
        <div class="card top-toolbar">
            {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                            </div>
            {% endif %}
            <a class="btn" href="{% url 'visits:open' %}">Отметить вход</a>
            <a class="btn" href="{% url 'visits:open' %}">Отметить выход</a>
            <a href="{% url 'visits:status' %}" class="btn btn-success">Статус</a>
        </div>
        <h1 class="page-header">В данный момент в лаборатории:</h1>
        {% for user in users %}
            <div class="member-card">
                <div class="member-card__about">
                    {% if user.profile.photo %}
                        <img class="member-card__photo member-card__photo_2 center" src="{{ user.profile.photo.url }}" alt="{{ user.get_fullname }}">
                    {% else %} 
                        <img class="member-card__photo member-card__photo_2 center" src="" alt="{{ user.get_fullname }}">
                    {% endif %}
                    <h2 class="member-card__name">{{ user.profile.name }} {{ user.profile.surname }}</h2>
                    <div class="member-card__geo center">
                        <p class="member-card__position">{{ user.profile.orgprofile.get_position_display }}</p>
                        {% if user.profile.orgprofile %}
                            <div class="member-card__cab">
                                <span class="geo"></span>
                                {{ user.profile.orgprofile.get_room_display }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="tags center">
                    <div class="tag tag__text">3D-печать</div>
                    <div class="tag tag__text">3D-печать</div>
                    <div class="tag tag__text">3D-печать</div>
                    <div class="tag-other tag tag__text">12+</div>
                </div>

                <a href="#"class="button">просмотреть профиль</a>
                <hr align="center" width="70" size="1" color="#37464b" />
            </div>
        {% endfor %}
    </main>
{% endblock%}
