{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="text-center">
            {% if flag %}
                <h1 class="text-center mt-4 mb-4">ОЛИМП открыт! Приходи :)</h1>
                <img src="/static/img/check_mark.png" alt="check_mark" class="mb-3">
            {% else %}
                <h1 class="text-center mt-4 mb-4">ОЛИМП закрыт!</h1>
                <h3 class="text-center mt-4 mb-4">Узнай когда будет открыт: </h3>
                <img src="/static/img/red_ban.jpg" alt="red_ban" class="mb-3">
            {% endif %}
        </div>
        <div class="text-center">
        <a href="{% url 'visits:people_inside' %}" class="text-center btn btn-light">Go to the list of people in Olimp</a>
        </div>

    </div>
{% endblock %}