<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'active.members.css' %}">
    <title>OLIMP INSIDE</title>
</head>
<body>
{% block navbar %}
    <header class="header">
            <div class="logo"></div>
            <nav>
                <ul class="nav">
                    <li class="nav__item nav__item_active text"><a>Портфолио</a></li>
                    <li class="nav__item text"><a href="{% url 'visits:people_inside' %}">Кто в лабе?</a></li>
                    <li class="nav__item text"><a>База знаний</a></li>
                    <li class="nav__item text"><a>События</a></li>
                </ul>
            </nav>
            <div class="profile-menu">
                <div class="profile-menu_content">
                    <div class="profile-menu__name text">Иван Иванов</div>
                    <div class="profile-menu__about">Начинающий специалист</div>
                </div>
                <div class="profile-menu__photo"></div>
                <input type="checkbox" id="popup">
                <label class="profile-menu__anim" for="popup">
                    <div class="anim-line__left"></div>
                    <div class="anim-line__right"></div>
                </label>


                <div class="popup-menu popup-menu_theme popup-menu_hidden">
                    <a href="#" class="popup-menu__item text2 popup-menu__item_active">My profile</a>
                    <a href="#" class="popup-menu__item text2">Edit profile</a>
                    <a href="#" class="popup-menu__item text2">Add new project</a>
                    <a href="#" class="popup-menu__item text2">Log out</a>
                    <div class="popup-menu__triangle"></div>
                </div>
            </div>
        </header>
{% endblock %}
    {% block content%}
    {% endblock %}
</body>
</html>