{% extends 'base.html' %}
{% block content%}
    <div class="container">
        <div class="text-right mt-3 mb-5">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Availability in Olympus
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a href="{% url 'open_Olimp' %}" class="dropdown-item">Entrance in Olimp</a>
                    <a href="{% url 'close_Olimp' %}" class="dropdown-item ">Get out of Olimp</a>
                </div>
            </div>
            <a href="{% url 'status' %}" class="btn btn-success">Status</a>
            <a href="{% url 'logout'%}" class="btn btn-danger">Log out</a>
        </div>
        {%if message%}
                        <div class="alert alert-danger" role="alert">
                            You need entrance!
                        </div>
                    {% endif %}
        <div class="row">
            {% for user in users %}
                <div class="col-6 ">
                    <div class="card m-1">
                        <div class="card-header">
                            User: <span>{{user.username}}</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">body</p>
                            <p>Last entrance: <span>
                                {{user.entrance}}
                            </span></p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock%}