{% extends 'base.html' %}


{% block content %}
<div class="container">
    <form action="" method="post">
        <div class="row">
            {% csrf_token %}
            <div class="col-6">
                {{ form.username.label }}
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="col-6">
                {{ form.surname.label }}
                {{ form.surname }}
                {{ form.surname.errors }}
            </div>
            <div class="col-6">
                {{ form.email.label }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="col-6">
                {{ form.name.label }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="col-6">
                {{ form.password1.label }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="col-6">
                {{ form.patronymic.label }}
                {{ form.patronymic }}
                {{ form.patronymic.errors }}
            </div>
            <div class="col-6">
                {{ form.password2.label }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="col-6">
                {{ form.dob.label }}
                {{ form.dob }}
                {{ form.dob.errors }}
            </div>
            <div class="col-6">
                {{ form.vk_link.label }}
                {{ form.vk_link }}
                {{ form.vk_link.errors }}
            </div>
            <div class="col-6">
                {{ form.phone_number.label }}
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Зарегистрироваться">
    </form>
</div>
{% endblock %}