{% extends 'base.html' %}


{% block content %}
<div class="container">
    <form action="" method="post">
        <div class="row">
            {% csrf_token %}
            <div class="col-6">
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div class="col-6">
                {{ form.surname.label }}
                {{ form.surname }}
            </div>
            <div class="col-6">
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div class="col-6">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="col-6">
                {{ form.password1.label }}
                {{ form.password1 }}
            </div><div class="col-6">
                {{ form.patronymic.label }}
                {{ form.patronymic }}
            </div>
            <div class="col-6">
                {{ form.password2.label }}
                {{ form.password2 }}
            </div>
            <div class="col-6">
                {{ form.dob.label }}
                {{ form.dob }}
            </div>
            <div class="col-6">
                {{ form.vk_link.label }}
                {{ form.vk_link }}
            </div>
            <div class="col-6">
                {{ form.phone_number.label }}
                {{ form.phone_number }}
            </div>
            {% for field in form %}
            <div class="form-group col-6">

            </div>
            {% endfor %}
        </div>
        <input type="submit" class="btn btn-primary" value="Зарегистрироваться">
    </form>
</div>
{% endblock %}

{% block form1 %}
<!--<div class="auth-form reg-form">-->
<!--    <div class="auth">-->
<!--        <a href="{% url 'auth' %}">-->
<!--            Sign in-->
<!--        </a>-->
<!--        <a href="{% url 'reg' %}">-->
<!--            Sign UP-->
<!--        </a>-->
<!--    </div>-->
<!--    <form action="" method="post">-->
<!--        {% csrf_token %}-->
<!--        <label for="name">Name</label>-->
<!--        <input type="text" name="username" id="name">-->

<!--        <label for="surname">Surname</label>-->
<!--        <input type="text" id="surname">-->

<!--        <label for="email">Email</label>-->
<!--        <input type="email" name="username" id="email">-->

<!--        <label for="pwd">Password</label>-->
<!--        <input type="password" id="pwd">-->
<!--        {{ form.as_p }}-->
<!--        <input type="submit" value="Sign Up" class="btn">-->
<!--    </form>-->
<!--</div>-->

{% endblock %}
